/**CONFIGURACIóN ESPECIFICA**/
.tabla-usuario{
  width: 800px;
  height: 510px;
  max-width: 800px;
  margin: 50px auto;
  background: #00fdfd00;
  overflow: auto;
  border-radius: 4px;
}

.tabla-sala{
  width: 600px;
  max-width: 800px;
  margin: 50px auto;
  background: #00ffff00;
  overflow: auto;
  border-radius: 4px;
}

.tabla-sala .tabla td{
  height: 25px;
}


/**CONFIGURACIóN GENERAL**/
.tabla{
  background: rgba(240, 240, 240, 0.986);
  text-align: center;
  border: 1px solid #000000;
}

.tabla table {
  width: 100%;
}


.tabla a {
  text-decoration: none;
  margin-right: 10px;
}

.tabla th {
  height: 20px;
  position: sticky;
  color: rgb(0, 0, 0);
}


.tabla th, td {
  padding: 2px;
  font-family: 'Arial';
  border: 1px solid #000000;
  max-width: 120px;
  min-width: 120px;
}

.tabla td {
  height: 35px;
  color: rgb(0, 0, 0);
  position: relative;
}


.fila:hover {
  background: rgba(255, 66, 66, 0.514);
}

.tabla thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #ff0800;
  border-bottom: solid 1px;
  color:rgb(0, 0, 0);
}

.tabla img {
  width: 25px;
  height: 25px;
  background: rgba(255, 255, 255, 0);
}

.tabla img:hover{
  background: black;
  border-radius: 50%;
}

/* Scroll Personalizado */
.tabla-usuario::-webkit-scrollbar {
  width: 3px;
}

.tabla-usuario::-webkit-scrollbar-thumb {
  background: #00ff15;
  border-radius: 5px;
}


/* Media Query para hacer la tabla responsive */
@media (max-width: 768px) {
  .tabla {
    width: 100%;
    max-width: none;
  }

  .tabla th, .tabla td {
    min-width: 100px;
  }
}

